
.time {
    font-size: 100px;
    font-weight: 700;
    color: #ec5953;
    text-align: center;
}
.title {
    font-size: 100px;
    font-weight: 700;
    color: #ec5953;
    text-align: center;
}
.css-18ni7ap {
    visibility: hidden;
}
